body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    line-height: 2;
}

h1 {
    margin: 0 auto;
    width: 30%;
    font-size: 5.625rem;
    font-family: 'Sacramento', cursive;
    margin: 50px auto 0 auto;
    color: #66BFBF;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    color: #66BFBF;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    color: #11999E;
}

p {
    font-family: 'Merriweather', serif;
}

a {
    color: #11999E;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

a:hover {
    color: #EAF6F6;

}

hr {
    border: 0;
    border-top: 7px dotted #ebe8d2;
    width: 5%;
    margin: 70px auto;
    
}

.top-container {
    position: relative;
    padding-top: 100px;
    background-color: #F6F2D4;
}

.middle-container {
    margin: 20px auto;
}

.bottom-container {
    background-color: #95D1CC;
    padding-top: 40px;
    padding-bottom: 20px;
}

.profile {
    width: 35%;
    margin: 0 auto;
}

.top-cloud {
    position: absolute;
    right: 100px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 200px;
}

.profile-image {
    width: 50%;
}

.mountain-image {
    display: block;
}

.skill-row {
    width: 50%;
    margin: 50px auto 100px auto;
    text-align: left;
}

.py-image {
    float: right;
    width: 25%;
    border-radius: 50%;
    margin-left: 30px;
}

.banner-img {
    float: left;
    width: 25%;
    border-radius: 50%;
    margin-right: 30px;
}

.skills-h2 {
    margin-top: 40px;
}

.footer-link {
    margin: 50px;
}

.copyright-info {
    color: #EAF6F6;
    font-size: 0.8rem;
    margin-top: 30px;
}

.contact-me {
    width: 50%;
    margin: 0 auto 70px auto;
}









 
 /* ****************************Buttton**************************** */
 .button {
     pointer-events: auto;
     cursor: pointer;
     background: #e7e7e7;
     border: none;
     padding: 1.5rem 3rem;
     margin: 0;
     font-family: inherit;
     font-size: inherit;
     position: relative;
     display: inline-block;
     margin: 0;
     --color-text: #111;
     --color-number: #999;
     --color-bg: #fff;
     --color-link: #1352d1;
     --color-link-hover: #111;
     color: var(--color-text);
     background-color: var(--color-bg);
     font-family: tenon, sans-serif;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     margin-top: 30px;
 }
 
 .button::before,
 .button::after {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
 }

 .button--hyperion {
     font-family: input-mono-narrow, monospace;
     font-weight: 500;
     padding: 1rem 1.5rem;
     border: 1px solid #000;
     overflow: hidden;
     color: #fff;
 }
 
 .button--hyperion span {
     display: block;
     position: relative;
 }
 
 .button--hyperion > span {
     overflow: hidden;
 }
 
 .button--hyperion > span > span {
     overflow: hidden;
     mix-blend-mode: difference;
 }
 
 .button--hyperion:hover > span > span {
     animation: MoveUpInitial 0.2s forwards, MoveUpEnd 0.2s forwards 0.2s;
 }
 
 @keyframes MoveUpInitial {
     to {
         transform: translate3d(0,-105%,0);
     }
 }
 
 @keyframes MoveUpEnd {
     from {
         transform: translate3d(0,100%,0);
     }
     to {
         transform: translate3d(0,0,0);
     }
 }
 
 .button--hyperion::before {
     content: '';
     background: #000;
     transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
     transform-origin: 100% 50%;
 }
 
 .button--hyperion:hover::before {
     transform: scale3d(0,1,1);
     transform-origin: 0% 50%;
 }

 /* ****************************Buttton**************************** */
 
