
body {
    background-color: #95D1CC;
}

hr {
    border-style: none;
    height: 0px;
    width: 5%;
    border-style: dotted none none;
    border-color: grey;
    border-width: 7px;
}

h1 {
    color: #22577E;
    font-family: Trebuchet MS, sans-serif;
}

h3 {
    color: #22577E;
    font-family: Verdana, sans-serif;
    font-weight: normal;
}

p {
    color: #5584AC;
}